/*HOME - CATEGORIAS*/
@media (max-width: 1280px) {
    .categorias {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 970px;
    }
}

@media (max-width: 1080px) {
    .categorias {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 750px;
    }
}

@media (max-width: 900px) {
    .categorias {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 550px;
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    .categorias {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 350px;
    }
}

/*HOME PRODUTOS*/
@media (min-width: 768px) and (max-width: 1150px) {
    .produtos {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
    }
}

@media (min-width: 580px) and (max-width: 767px) {
    .produtos {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
    }
}

@media (min-width: 300px) and (max-width: 580px) {
    .produtos {
        grid-template-columns: 1fr;
        width: 70%;
    }
}

/*HOME MODAL PRODUTOS*/
@media (min-width: 692px) and (max-width: 770px) {

    .modal-conteudo .modal-header img {
        width: 25px;
        height: 25px;
    }

    .modal-conteudo .modal-header p {
        font-size: 16px;
        color: transparent;
        position: relative;
    }

    .modal-conteudo .modal-header p::after {
        display: inline;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
    }

    .modal-conteudo .modal-header .btn-fechar {
        top: 14px;
        right: 1px;
    }

    .modal-header .btn-fechar img {
        width: 16px;
        height: 16px;
    }

    .modal-conteudo {
        width: 60%;
    }

    .modal-body {
        max-width: 680px;
        min-height: 500px;
        flex-direction: column;
        align-items: center;
        margin: 6px 12px;
    }

    .produto-imagem img {
        width: 285px;
    }

    .produto-detalhes {
        text-align: center;
    }

    .produto-detalhes>p {
        margin: 4px 0 6px 0;
    }

    .produto-detalhes h3 {
        font-size: 18px;
    }

    .opcoes {
        margin-top: 8px;
    }

    .opcoes p:nth-of-type(2) {
        margin-top: 8px;
    }

    .opcoes-cores {
        gap: 10px;
    }

    .opcoes-cores input[type="radio"] {
        width: 15px;
        height: 15px;
    }

    #btn-adicionar {
        margin-top: 0;
        height: 100%;
    }
}

@media (min-width: 570px) and (max-width: 691px) {
    .modal-conteudo .modal-header img {
        width: 25px;
        height: 25px;
    }

    .modal-conteudo .modal-header p {
        font-size: 14px;
        color: transparent;
        position: relative;
    }

    .modal-conteudo .modal-header p::after {
        display: inline;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
    }

    .modal-conteudo .modal-header .btn-fechar {
        top: 14px;
        right: 1px;
    }

    .modal-header .btn-fechar img {
        width: 16px;
        height: 16px;
    }

    .modal-conteudo {
        width: 55%;
    }

    .modal-body {
        max-width: 680px;
        min-height: 500px;
        flex-direction: column;
        align-items: center;
        margin: 6px 12px;
    }

    .produto-imagem img {
        width: 220px;
    }

    .produto-detalhes {
        text-align: center;
    }

    .produto-detalhes>p {
        margin: 4px 0 6px 0;
    }

    .produto-detalhes h3 {
        font-size: 18px;
    }

    .opcoes {
        margin-top: 8px;
    }

    .opcoes p:nth-of-type(2) {
        margin-top: 8px;
    }

    .opcoes-cores {
        gap: 10px;
    }

    .opcoes-cores input[type="radio"] {
        width: 15px;
        height: 15px;
        padding: 8px;
    }

    #btn-adicionar {
        margin-top: 0;
        height: 100%;
    }
}

@media (min-width: 522px) and (max-width: 569px) {
    .modal-header {
        padding: 14px 28px;
    }

    .modal-conteudo .modal-header img {
        width: 19px;
        height: 19px;
        margin-right: 8px;
    }

    .modal-conteudo .modal-header p {
        font-size: 13px;
        color: transparent;
        position: relative;
    }

    .modal-conteudo .modal-header p::after {
        display: inline;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
    }

    .modal-conteudo .modal-header .btn-fechar {
        top: 10px;
        right: 5px;
    }

    .modal-header .btn-fechar img {
        width: 14px;
        height: 14px;
    }

    .modal-conteudo {
        width: 55%;
    }

    .modal-body {
        max-width: 680px;
        min-height: 500px;
        flex-direction: column;
        align-items: center;
        margin: 6px 12px;
    }

    .modal-body .opcoes label {
        width: 40px;
    }

    .produto-imagem img {
        width: 190px;
    }

    .produto-detalhes {
        text-align: center;
    }

    .produto-detalhes .parag-desc {
        margin: 4px 0 6px 0;
        font-size: 12px;
    }

    .produto-detalhes h3 {
        font-size: 16px;
    }

    .produto-detalhes .vendido-por {
        font-size: 11px;
        margin: 4px 0;
    }

    .produto-detalhes h2 {
        font-size: 14px;
    }

    .opcoes {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .opcoes p:nth-of-type(1) {
        font-size: 14px;
    }

    .opcoes p:nth-of-type(2) {
        margin-top: 8px;
        font-size: 14px;
    }

    .opcoes-cores {
        gap: 5px;
    }

    .opcoes-cores label span {
        font-size: 10px;
    }

    .opcoes-cores input[type="radio"] {
        width: 15px;
        height: 15px;
        padding: 8px;
    }

    .opcao-tamanho {
        gap: 4px;
    }

    .opcao-tamanho input[type="radio"] {
        padding: 8px;
    }

    .opcoes-tamanho label span {
        font-size: 10px;
    }

    #btn-adicionar {
        margin-top: 0;
        height: 100%;
        font-size: 14px;
    }
}

@media screen and (max-width: 521px) {
    .modal-header {
        padding: 18px 28px;
    }

    .modal-conteudo .modal-header img {
        width: 19px;
        height: 19px;
        margin-right: 8px;
    }

    .modal-header>img {
        display: none;
    }

    .modal-conteudo .modal-header p {
        display: none;
    }

    .modal-conteudo .modal-header .btn-fechar {
        top: 5px;
        right: 5px;
    }

    .modal-header .btn-fechar img {
        width: 14px;
        height: 14px;
    }

    .modal-conteudo {
        width: 55%;
    }

    .modal-conteudo hr {
        width: 95%;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .modal-body {
        max-width: 680px;
        min-height: 500px;
        flex-direction: column;
        align-items: center;
        margin: 6px 12px;
    }

    .modal-body .opcoes label {
        width: 40px;
    }

    .modal-body .produto-detalhes .parag-desc::after {
        display: none;
    }

    .produto-imagem img {
        width: 175px;
    }

    .produto-detalhes {
        text-align: center;
    }

    .produto-detalhes .opcoes label {
        font-size: 11px;
    }

    .produto-detalhes .parag-desc {
        margin: 4px 0 6px 0;
        font-size: 12px;
    }

    .produto-detalhes h3 {
        font-size: 16px;
    }

    .produto-detalhes .vendido-por {
        font-size: 11px;
        margin: 4px 0;
    }

    .produto-detalhes h2 {
        font-size: 14px;
    }

    .opcoes {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .opcoes p:nth-of-type(1) {
        font-size: 14px;
    }

    .opcoes p:nth-of-type(2) {
        margin-top: 8px;
        font-size: 14px;
    }

    .opcoes-cores {
        gap: 0px;
    }

    .opcoes-cores label span {
        display: none;
    }

    .opcoes-cores input[type="radio"] {
        width: 15px;
        height: 15px;
        padding: 8px;
    }

    .opcoes-cores,
    .opcao-tamanho {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .opcao-tamanho {
        gap: 0px;
    }

    .opcao-tamanho input[type="radio"] {
        padding: 8px;
    }

    #btn-adicionar {
        margin-top: 0;
        height: 100%;
        font-size: 12px;
    }
}

/*HOME FACILIDADES*/
@media (min-width: 550px) and (max-width: 1140px) {
    .pacote-card {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 549px) {
    .pacote-card {
        flex-direction: column;
        gap: 1.8rem;
    }

    .titulo-facilidade {
        text-align: center;
        font-size: 1.5rem;
    }

    .card-titulo,
    .card-texto {
        font-size: 15px;
    }

    .card-icone img {
        width: 56px;
        height: 57px;
    }
}

/*HOME Newslettter*/
@media (min-width: 800px) and (max-width:1000px) {
    .container-news {
        width: 70%;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .container-news {
        width: 70%;
    }

    #input-email {
        min-width: 17rem;
    }
}

@media (max-width:599px) {
    .container-news {
        width: 70%;
        padding: 1.5rem;
    }

    .titulo-news {
        font-size: 1.125rem;
    }

    #input-email {
        min-width: 10rem;
    }

    #botao-email {
        margin-left: -26px;
    }
}

@media (min-width: 320px) and (max-width: 380px) {
    input[type="email"]::placeholder {
        font-size: var(--font-small);
    }

    #input-email {
        min-width: 6rem;
    }

    #botao-email {
        margin-left: -36px;
        font-size: var(--font-small);
    }
}

/*CADASTRO DE EMAIL*/
@media (max-width: 620px) {
    .modal-header p {
        font-size: 16px;
    }

    .modal-corpo {
        font-size: var(--font-small);
    }
}